/* Polices */
/* Police pour textes */
@font-face{
    font-family: 'folksregular';
    src: url('../fonts/folks-normal-webfont.woff2') format('woff2'),
         url('../fonts/folks-normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Polices pour titres, éléments importants etc */
@font-face{
    font-family: 'ffbold';
    src: url('../fonts/Fashion-Fetish-Bold.woff') format('woff'),
         url('../fonts/Fashion-Fetish-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Police pour liens dans la page */
@font-face{
    font-family: 'ffitalic';
    src: url('../fonts/Fashion-Fetish-Italic.woff') format('woff'),
         url('../fonts/Fashion-Fetish-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Police pour logo */
@font-face{
    font-family: 'Kerox';
    src: url('../fonts/Kerox-NonCommercial.woff') format('woff'),
        url('../fonts/Kerox-NonCommercial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'ffbold','folksregular';
}
body{
    background-color: #FAF2E5;
}

/* --------- DEBUT HEADER --------- */

/* ------ Couleur de la navbar + shadow texte ----------- */
.colornav{
    background-color: #CB9263;
    text-shadow: #000000 0.1em 0.1em 0.2em;
}

/* --------- Couleur blanche du texte --------*/
#navbarExample01 ul li a{
    color: #ffffff;
    }

    /*------- hover du texte seul ------*/
#navbarExample01 ul li a:hover{
    color: #4D2C37;
    }

/*Image de fond header*/
header{
    /* Linear gradient permet de mettre une opacité reduite sur l'image pour mieux voir le texte */
        background-image: linear-gradient(#00000033, #00000033), url(../img/header.jpg);
        min-height: 100vh;
        min-width: 100vw;
    /*Position de l'image*/
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    header>div{
    /* placement texte taille header largeur */
        width: 100%;
    }
    h1{
        font-size: 300%;
        margin-top: 20%;
        margin-left: 20%;
        color: white;
    }
    h2{
        margin-left: 20%;
        font-size: 30px;
        color: white;
    }
    /* --------- FIN HEADER --------- */


    /* --------- DEBUT VALEUR ENTREPRISE --------- */
p{
    font-family: 'folksregular';
    font-size: 1rem;
    color: #333333;
}

.titre_valeur{
    font-size: 2rem;
    color: #4D2C37;
}

.valor_card{
    background-color: #FAF2E5;
}

.link_gallery{
    background-color: #FAF2E5;
    color:#684144;
    font-size: 0.75rem;
}

hr{
    background-color: #CB9263;
}

/* Fin VALEUR */

/* DEBUT GALERIE */

.line_gallery{
    margin-left: 3%;
    width: 30%;
    color: #CB9263;
    background-color: #CB9263;
    border: 0;
    height: 1px;
}

.gallery_titles{
    margin-left: 3%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(6, 15vw);
    grid-template-rows: repeat(3, 25vh);
    grid-gap: 2vh;
    gap: 2vh;
    margin : 2em
}
.gallery img{
    display: none;
}
.custom_made_1{
    background-image: url('../img/custom_made_1.jpg');
    background-size: 100%;
    grid-area: 1/1/3/4;
    background-repeat: no-repeat;
}
.custom_made_2{
    background-image: url('../img/custom_made_2.jpg');
    background-size: 100%;
    grid-area: 1/4/2/6;
    background-repeat: no-repeat;
}
.custom_made_3{
    background-image: url('../img/custom_made_3.jpg');
    background-size: 100%;
    grid-area: 1/6/2/7;
    background-repeat: no-repeat;
}
.custom_made_4{
    background-image: url('../img/custom_made_4.jpg');
    background-size: 100%;
    grid-area: 2/4/3/5;
    background-repeat: no-repeat;
}
.custom_made_5{
    background-image: url('../img/custom_made_5.jpg');
    background-size: 100%;
    grid-area: 2/5/3/7;
    background-repeat: no-repeat;
}
.custom_made_6{
    background-image: url('../img/custom_made_6.jpg');
    background-size: 100%;
    grid-area: 3/1/4/7;
    background-repeat: no-repeat;
}

/* FIN GALERIE */